<div class="controls">
    <button (click)="toggleList()">
        {{ showList ? 'Hide' : 'Show' }} Cars
    </button>

    <input type="text" placeholder="Filter by model" [(ngModel)]="filterText" />
</div>

<div *ngIf="showList" class="car-list">
    <div class="car-card" *ngFor="let car of cars | filterByModel: filterText">
        <h3>{{ car.make | uppercase }} - {{ car.model | uppercase}}</h3>
        <p><strong>Year:</strong> {{ car.year }}</p>
        <p><strong>License Plate:</strong> {{ car.licensePlate | uppercase }}</p>
        <p><strong>Price:</strong> {{ car.price | priceCurrency: car.currency }}</p>
    </div>
</div>